<?xml version="1.0"?>

<configuration>

  <connectionStrings>

  </connectionStrings>

  <appSettings>

    <add key="ServerIP" value="127.0.0.1">

    </add>

    <add key="port" value="3306">

    </add>

    <add key="DataBase" value="mydata_db">

    </add>

    <add key="user" value="root">

    </add>

    <add key="password" value="123456">

    </add>

  </appSettings>

  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />

  </startup>

</configuration>